*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}

#home{
    width: 100%;
    height: auto;
    .top{
        width: 100%;
        height: 50px;
        padding: 35px 40px;
        text-align: center;
   
        span{
            margin: 30px;
        }
        hr{
            margin-top: 25px;
            opacity: 0.5;
           
        }
    }

}

#orta{width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    .container{
        padding: 130px 220px;
        .prp{
            h1{
                margin-bottom: 20px;
                color: rgb(10, 13, 163);
            }
            p{
                margin-bottom: 35px;
            }
            .text{position:relative;
                p{ 
                    margin-left:  15px;
                }

            }
            
            .line{
                border-right: 5px solid green;
                width: 5px;
                height: 80px;
                position: absolute;
                top: -15px;
            }
        }
        .image{
           img{
            width: 450px;
            height: 425px;
            position: absolute;
            right: 200px;
            top: 140px;
           } 
        }
    }

}