* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 95vw;
    height: 1400px;
}

main {
    #top {
        .container {

            .info {
                b {
                    display: flex;
                    justify-content: center;
                    color: gray;
                    opacity: .8;
                    padding-bottom: 10px;
                }

                h2 {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 10px;
                    color: rgb(23, 3, 95);

                }

                p {
                    display: flex;
                    justify-content: center;
                    color: gray;
                    opacity: .9;

                }

            }

            .men {
                text-align: center;
                padding-top: 45px;
                font-size: 25px;

                span {
                    padding: 15px;
                    margin-left: 25px;
                    border: 2px solid rgb(1, 208, 255);
                    border-width: 0.1cm;
                    color: rgb(1, 208, 255);
                    background-color: white;
                    border-radius: 55%;



                }
            }

            .card {
                display: inline-block;
                text-align: center;
                margin-right: 20px;


                padding-left: 108px;





                &--image {
                    padding-top: 35px;
                    height: 400px;
                    width: 200px;


                }

                &--infor {
                    padding-top: 20px;

                    width: 350px;

                    h5 {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 11px;
                        color: rgb(23, 3, 95);
                    }

                    p {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 11px;
                        color: gray;
                    }



                    .pre {
                        color: gray;

                    }

                    .up {
                        color: rgb(21, 197, 44);

                    }





                }

                .circle {
                    display: flex;
                    padding-top: 13px;
                    justify-content: center;




                    .blue {


                        color: blue;
                    }

                    .green {
                        color: green;
                    }

                    .orange {
                        color: orange;
                    }

                    .blue2 {
                        color: rgb(2, 2, 72);
                    }
                }

            }
        }
    }
}